<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="user/Base::Layout(~{::section})">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>
	<section>
				<link rel="stylesheet" th:href="@{/css/index.css}" />

		<!-- Roboto font -->
		<!-- Roboto font -->
		<div class="ci container h-120 d-flex " style="margin-top: 10%;">
			<div class="column align-items-center justify-content-center">
				<div class="col-md-8">
					<h1 class="display-4 c font-weight-bold mb-5">
						Contact Manager Web App
					</h1>
				</div>
				<div class="col-md-6">
					<h2 class="font-weight-semibold mb-5">
						Build stronger relationships, close more deals, and achieve your goals.
				</div>
			</div>
			<div class="loader">
				<div class="loader-square"></div>
				<div class="loader-square"></div>
				<div class="loader-square"></div>
				<div class="loader-square"></div>
				<div class="loader-square"></div>
				<div class="loader-square"></div>
				<div class="loader-square"></div>
			</div>
		</div>
	</section>
</body>

</html>